<div style="display: flex;">
    <div (click)="home()">
        <img style="width: 50%;" src="/assets/logo.png" alt="">
    </div>
    <div style="width: 100%;">
        <p>
            <mat-toolbar color="primary">
                <mat-toolbar-row style="background-color: midnightblue;">
                    <div *ngIf="users" style="display: flex; margin-right: 4%;">
                        <img style="border-radius: 30%;" src="assets/mama.jpg" alt="" height="40rem" width="50rem">
                    </div>
                    <span>{{titulo}}</span>
                    <span class="example-spacer"></span>
                    <div *ngIf="!hideMenu">
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div style="display: flex;margin-right: 2rem;">
                        <button mat-button [matMenuTriggerFor]="notificationsMenu">
                            <mat-icon [matBadge]="notifications.length">notifications</mat-icon>
                        </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </p>
        <mat-menu #notificationsMenu="matMenu">
            <div *ngFor="let notification of notifications">
                <button mat-menu-item (click)="verNotification(notification)">
                    {{notification.mensaje}} de {{notification.quienEnvia}}
                </button>
            </div>
        </mat-menu>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="padres()">Padres</button>
            <button mat-menu-item (click)="abrirScanner()">Scanner</button>
            <button mat-menu-item (click)="teachersClassRoom()">Entrega Alumnos</button>
            <button mat-menu-item (click)="administracion()">Administracion</button>
        </mat-menu>
    </div>
</div>