<div style="display: flex;">
    <div (click)="home()">
        <img style="width: 50%;" src="/assets/logo.png" alt="">
    </div>
    <div style="width: 100%;">
        <p>
            <mat-toolbar color="primary">
                <mat-toolbar-row style="background-color: midnightblue;">
                    <div *ngIf="users" style="display: flex; margin-right: 4%;">
                        <img style="border-radius: 30%;" [src]="users.fotoUrl" alt="" height="40rem" width="50rem">
                    </div>
                    <span>{{titulo}}</span>
                    <span class="example-spacer"></span>
                    <div *ngIf="!hideMenu">
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </p>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="padres()">Padres</button>
            <button mat-menu-item (click)="abrirScanner()">Scanner</button>
            <button mat-menu-item (click)="teachersClassRoom()">Salones</button>
            <button mat-menu-item (click)="administracion()">Administracion</button>
        </mat-menu>
    </div>
</div>