 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     /* or 100dvh for modern browsers */
 }

 main {
     flex-grow: 1;
     /* Allows the main content to expand and push the footer down */
 }

 .page-header {
    height: 4rem;
    margin-bottom: 1rem;
 }
 .page-header,
 .page-footer {
     background-color: mediumblue;
     color: white;
     padding: 1%;
 }
 
    