<div>
    <div>

        <body>
            <app-header class="page-header"></app-header>
            <main>
                <div>
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center"
                        (selectedTabChange)="selectedTabChange($event)">
                        <mat-tab label="Parents">
                            <div style="text-align: center;margin-top: 1rem;">
                                <button mat-raised-button color="primary" (click)="agregarUser()">+
                                    Padres</button>
                            </div>
                            <div class="body">
                                <div
                                    style="display: flex;justify-content: space-evenly;margin-top: 3.5rem;margin-bottom: 2rem;">
                                    <div *ngFor="let user of users; let i = index">
                                        <mat-card class="example-card">
                                            <mat-card-header style="display: flex; flex-direction: column;">
                                                <div style="text-align: center;">
                                                    <img [src]="user.fotoUrl" alt="" height="200rem" width="250rem"
                                                        style="border-radius:10%;">
                                                </div>
                                                <mat-card-title style="font-size: medium;">{{user.nombre}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div *ngIf="user.qrCode">
                                                    <button mat-button (click)="verQr(user)">Ver QR</button>
                                                </div>
                                                <div *ngIf="!user.qrCode">
                                                    <button mat-button (click)="generateQr(user,'user')">Crear
                                                        QR</button>
                                                </div>
                                                <button mat-button (click)="editarUser(user)">Editar</button>
                                                <button mat-button style="color: red;"
                                                    (click)="borrarUser(user)">Borrar</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="kids">
                            <div style="text-align: center;margin-top: 1rem;">
                                <button mat-raised-button color="primary" (click)="agregarAlumno()">+
                                    Alumno</button>
                            </div>
                            <div class="body">
                                <div
                                    style="display: flex;justify-content: space-evenly;margin-top: 3.5rem;margin-bottom: 2rem;">
                                    <div *ngFor="let alumno of alumnos; let i = index">
                                        <mat-card class="example-card">
                                            <mat-card-header style="display: flex; flex-direction: column;">
                                                <div style="text-align: center;">
                                                    <img [src]="alumno.fotoUrl" alt="" height="200rem" width="250rem"
                                                        style="border-radius:10%;">
                                                </div>
                                                <mat-card-title
                                                    style="font-size: medium;">{{alumno.nombre}}</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div *ngIf="alumno.qrCode">
                                                    <button mat-button (click)="verQr(alumno)">Ver QR</button>
                                                </div>
                                                <div *ngIf="!alumno.qrCode">
                                                    <button mat-button (click)="generateQr(alumno, 'alumno')">Crear
                                                        QR</button>
                                                </div>
                                                <button mat-button (click)="editarAlumno(alumno)">Editar</button>
                                                <button mat-button style="color: red;"
                                                    (click)="borrarAlumno(alumno)">Borrar</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Car-Pool">
                            <div style="text-align: center; margin-top: 1rem;">
                                <button mat-raised-button color="primary" (click)="agregarCarPool()">+
                                    Car-Pool</button>
                            </div>
                            <div class="body">
                                <div
                                    style="display: flex;justify-content: space-evenly;margin-top: 3.5rem;margin-bottom: 2rem;">
                                    <div *ngFor="let pool of carpool; let i = index">
                                        <div *ngIf="pool.status === 'aprobado'">
                                            <mat-card class="example-card">
                                                <mat-card-header style="display: flex; flex-direction: column;">
                                                    <div style="text-align: center;">
                                                        <img [src]="pool.fotoUrl" alt="" height="200rem" width="250rem"
                                                            style="border-radius:10%;">
                                                    </div>
                                                    <mat-card-title
                                                        style="font-size: medium; margin-right: 1rem;">{{pool.nombre}}</mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                </mat-card-content>
                                                <mat-card-actions>
                                                    <div *ngIf="pool.qrCode">
                                                        <button mat-button (click)="verQr(pool)">Ver QR</button>
                                                    </div>
                                                    <div *ngIf="!pool.qrCode">
                                                        <button mat-button (click)="generateQr(pool, 'pool')">Crear
                                                            QR</button>
                                                    </div>
                                                    <button mat-button (click)="editarCarPool(pool,i)">Editar</button>
                                                    <button mat-button style="color: red;"
                                                        (click)="boarrarCarPool(pool)">Borrar</button>
                                                </mat-card-actions>
                                            </mat-card>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Personas Autorizadas">
                            <div *ngIf="alumnos?.length > 0" style="text-align: center; margin-top: 1rem;">
                                <button mat-raised-button color="primary" (click)="agregarPersona()">+
                                    Persona</button>
                            </div>
                            <div class="body">
                                <div
                                    style="margin-top: 3.5rem;margin-bottom: 2rem;display: flex; justify-content: space-evenly;">
                                    <div *ngIf="alumnos.length" style="display: flex;justify-content: space-evenly;">
                                        <div *ngFor="let persona of personasAutorizadas; let j = index"
                                            style="margin-bottom: 1rem;">
                                            <mat-card class="example-card">
                                                <mat-card-header style="display: flex; flex-direction: column;">
                                                    <div style="text-align: center;">
                                                        <img [src]="persona.fotoUrl" alt="" height="200rem"
                                                            width="250rem" style="border-radius:10%;">
                                                    </div>
                                                    <mat-card-title
                                                        style="font-size: medium;">{{persona.nombre}}</mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                </mat-card-content>
                                                <mat-card-actions>
                                                    <div *ngIf="persona.qrCode">
                                                        <button mat-button (click)="verQr(persona)">Ver QR</button>
                                                    </div>
                                                    <div *ngIf="!persona.qrCode">
                                                        <button mat-button
                                                            (click)="generateQr(persona, 'persona')">Crear QR</button>
                                                    </div>
                                                    <button mat-button (click)="editarPersona(persona)">Editar</button>
                                                    <button mat-button style="color: red;"
                                                        (click)="borrarPersona(persona)">Borrar</button>
                                                </mat-card-actions>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </main>
            <hr>
            <app-footer class="page-footer"></app-footer>
        </body>
    </div>
</div>